<li id="commment-<%= comment.id %>" class="comment">
	<%= link_to gravatar_for(comment.user, size: 30), comment.user %>
	<strong class="user"><%= link_to comment.user.name, comment.user %></strong>
	<span class="content">
      <%= comment.body %>
    </span>
	<span class="timestamp">
	  <%= time_ago_or_date(comment.created_at) %>.
	  <% if current_user == comment.user %>
	  <%= link_to "delete", comment, method: :delete,
	                                   data: { confirm: "You sure?" } %>
	  <% end %>
	</span>
</li>