<div class="panel panel-default notify" id="notify-<%= notification.id %>">
	<div class="panel-body">

		<%= form_for notification, html: { method: :delete } do |f| %>
			<%= f.button class: "close", title: "Dismiss" do %>&times;<% end %>
		<% end %>

		<% @sender = notification.sender %>
		<%= link_to image_tag(@sender.profile.avatar.url(:thumb), alt: @sender.name, class: "gravatar"), @sender %>

		<p><strong class="user"><%= link_to @sender.name, @sender %></strong>
			<% case notification.type
				when "Friendship" %>
					<% if notification.notifiable.status == "accepted" %>
						has accepted your friend request!
					<% elsif notification.notifiable.status == "pending" %>
						wants to be friends.
						<small><%= render "friendships/add_friend", friend: @sender %></small>
					<% end %>
			<% when "Like" %>
					likes your <%= descriptive_link(notification.notifiable.post) %>.
			<% when "Comment" %>
					commented on your
					<%= notification.notifiable.post.photo ? link_to("photo", notification.notifiable.post)
						: link_to("post", notification.notifiable.post) %>.
			<% end %>
		</p>

		<small class="text-muted">
			<span class="glyphicon glyphicon-<%= glyph(notification) %>" aria-hidden="true"></span>
			<%= time_ago_or_date(notification.created_at) %>
		</small>

	</div>
</div>
