<% if !current_user.likes?(post) %>
	<%= form_for current_user.likes.build, html: { class: "like-form" } do |f| %>
		<%= f.hidden_field :post_id, value: post.id %>
		<%= f.button :class => "btn btn-default btn-xs" do %>
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like
		<% end %>
	<% end %>
<% else %>
	<small>
	<% like = current_user.likes.find_by(post_id: post.id) %>
	<%= form_for like, html: { method: :delete, class: "like-form" } do |f| %>
			<%= f.submit "x unlike", class: "btn btn-default btn-xs" %>
	<% end %>
	</small>
<% end %>