<% 
classes = [ "user-#{user.id}" ]
classes << "current-user" if user == current_user
classes << current_user.friend_status(user) if current_user.friend_status(user)
%>

<li class="<%= classes.join(' ') %>">
  <%= link_to user do %>
 	 <%= gravatar_for user, size: 50 %>
  <% end %>
  <%= link_to user.name, user %>
  <% if user.location && !user.location.empty? %>
  	<small class="text-muted">- <%= user.location %></small>
  <% end %>
  
  <div class="friend-status">
  	<% if user != current_user %>
      <% if current_user.friends.include?(user) && current_user.friend_status(user) != "pending" %>
        <small class="text-muted"><em><%= render "friendships/remove_friend", friend: user %></em></small>
      <% else %>
       <small><%= render "friendships/add_friend", friend: user %></small>
      <% end %>
	  <% else %>
		  <small class="text-muted"><em>This is you.</em></small>
  	<% end %>
  </div>
</li>