<% @user ||= current_user %>

<section class="user_info">
      <h1>
      	<%= image_tag(@user.profile.avatar.url(:medium), alt: @user.name, class: "gravatar") %>
        <%= @user.name %>
      </h1>
      <p class="email"><%= @user.email %></p>
	  <% if @user.location && !@user.location.empty? %>
	  	<p class="location info">From <%= @user.location %></p>
	  <% end %>
	  <% if @user.birthday %>
	  	<p class="age info"><%= @user.age %> years old</p>
	  </small><% end %>
</section>
<% if @user.about && !@user.about.empty? %>
<section class="about">
	<p><em><%= @user.about %></em></p>
</section>
<% end %>
<section class="friends">
	<% if @user.friends.accepted.any? %>
		<p class="friend-count"><%= link_to user_friends_path(@user) do %> 
			<%= pluralize(@user.friends.accepted.count, "Friend") %> 
			 <%= "(view all)" if @user.friends.accepted.count > 12 %> 
			<% end %>
		</p>
		<div class="user_avatars">
			<% @user.friends.accepted.order("random()").limit(12).each do |user| %>
				<%= link_to image_tag(user.profile.avatar.url(:thumb), alt: user.name, class: "gravatar"), user, title: user.name %>
			<% end %>
		</div>
	<% end %>
	<% if current_user.friends.include?(@user) && current_user.friend_status(@user) != "pending" %>
    	<div class="text-muted"><em><%= render "friendships/remove_friend", friend: @user %></em></div>
    <% else %>
    	<%= render "friendships/add_friend", friend: @user, size: "md" if @user != current_user %>
    <% end %>
</section>
