<% @user ||= current_user %>

<section class="user_info">
      <h1>
      	<%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p class="email"><%= @user.email %></p>
	  <% if @user.location && !@user.location.empty? %>
	  	<p class="location info">From <%= @user.location %></p>
	  <% end %>
	  <% if @user.birthday %>
	  	<p class="age info"><%= @user.age %> years old</p>
	  </small><% end %>
</section>
<% if @user.about && !@user.about.empty? %>
<section class="about">
	<p><em><%= @user.about %></em></p>
</section>
<% end %>
<section class="friends">
	<% if @user == current_user %>
		<p><small>You have no friends :(<br>
			<%= link_to "Find some friends!", users_path %>
		</small></p>
	<% end %>
</section>
