<li id="post-<%= post.id %>" class="post panel panel-default">
  <div class="panel-body">
      <%= render "post_header", post: post %>
    <span class="content">
      <%= render "post_body", post: post %>
    </span>
  </div>
  <div class="panel-footer">
    <div class="post-stats text-muted">
      <%= render "post_footer", post: post %>
    </div>
    <div class="comments">
      <% if post.comments.any? %>
        <ul><%= render partial: "comments/comment", collection: post.comments.order_asc %></ul>
      <% end %>
      <%= render partial: "comments/comment_form", :locals => { :post => post } %>
    </div>
  </div>
</li>