<li id="post-<%= post.id %>" class="panel panel-default">
  <div class="panel-body">
    <%= link_to gravatar_for(post.user, size: 35), post.user %>
    <strong class="user"><%= link_to post.user.name, post.user %></strong>
    <small class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
      <% if current_user == post.user %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
      <% end %>
    </small>
    <span class="content">
      <%= post.body %>
    </span>
  </div>
  <div class="panel-footer">
    <div class="post-stats text-muted">
      <%= render partial: "likes/like_form", :locals => { :post => post } %>
      <small><%= render partial: "posts/stats", :locals => { :post => post } %></small>
    </div>
    <div class="comments">
      <% if post.comments.any? %>
        <ul><%= render partial: "comments/comment", collection: post.comments %></ul>
      <% end %>
      <%= render partial: "comments/comment_form", :locals => { :post => post } %>
    </div>
  </div>
</li>